body {
    margin : 0;
    padding : 0;
    overflow: scroll;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.draggable {
    position : absolute;
    background : #ff00ff;
    width : 50px;
    height : 50px;
    top: 50px;
    left:50px;
}

.menu {
    position : fixed;
    z-index : 100;
    /* top : 50px;
    left : 50px; */
}